In [2]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [20]:
#Read dataset
Energy = pd.read_csv('/content/drive/MyDrive/Hamoye/energydata_complete.csv')
Energy

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [21]:
#normalise dataset to a common scale using the min max scalar
#setting the scaler
scaler=MinMaxScaler()

In [23]:
df = Energy.drop(columns= ['lights', 'date'])

In [25]:
#the normalized dataset
normalized_df=pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [26]:
Temp_target = normalized_df['T2' ]

In [16]:
#split into training and testing data
from sklearn.model_selection import train_test_split

In [28]:
x_train, x_test, y_train, y_test= train_test_split(df, Temp_target, test_size=0.3, random_state=1)

In [29]:
#fit the model to the x and y values
linear_model.fit(x_train,y_train)

LinearRegression()

In [30]:
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [31]:
#R-Squared
from sklearn.metrics import r2_score
r2_sc = r2_score(y_test, predicted_values)
round(r2_sc, 2)

1.0

In [33]:
#target variable-- appliances
target = normalized_df['Appliances']
x_train, x_test, y_train, y_test= train_test_split(df, target, test_size=70, random_state=42)

In [34]:
linear_model=LinearRegression()
linear_model.fit(x_train,y_train)

LinearRegression()

In [35]:
#obtain predictions
predicted_values = linear_model.predict(x_train)

In [37]:
#MAE
mae=mean_absolute_error(y_train, predicted_values)
round(mae, 2)

0.0

In [38]:
#Residual sum of squares(RSS)
rss= np.sum(np.square(y_train-predicted_values))
round(rss,3)

0.0